.header__overlay {
    height: 100%;
    position: fixed;
    top: 0;
    right: -1000px;
    width: 44%;
    padding: 28px 73px;
    background-color: $myWhite;
    z-index: 20;
    transition: right 0.8s ease-in-out, overflow-y 0.4s ease;
    @include tablet {
        width: 65%;
    }
    @include mobile {
        width: 100%;
    }
    &.header__overlay--active {
        right: 0;
        overflow-y: scroll;
    }
    .header__net-desc {
        display: inline-block;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 25px;
    }
}

.header__overlay-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 30px;
    align-items: center;
    .header__overlay-btn {
        position: relative;
        .icon-arrowRight {
            margin-right: 14px;
        }
    }
    .header__close {
        background-color: $myGrayTransp;
        border-radius: 50%;
        position: relative;
        padding: 30px;
        &::after {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            content: '\d7';
            font-size: 55px; 
            color: $myBlack;
        }
    }
}

.header__list {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 54px;
    color: $myBlack;
    .header__link {
        &:hover {
            @include desktop { 
                opacity: 0.6;
            }
        }
        &:active,
        &:visited {
            color: $myBlack;
        }
    }
}

.header__net-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    gap: 20px;
    .header__net-item {
        background-color: $myBlueTransp;
        border-radius: $radius;
        transition: background-color 0.3s ease;
        &:hover {
            @include desktop {
                background-color: $myYellowBright;
            }
        }
    }
    .header__net-link {
        padding: 17px;
        color: $myBlue;
        &:active,
        &:visited {
            color: $myBlue;
        }
    }
}