/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?1655990510775');
	src: url('../fonts/iconfont.eot?#iefix-1655990510775') format('embedded-opentype'),
		url('../fonts/iconfont.woff2?1655990510775') format('woff2'),
		url('../fonts/iconfont.woff?1655990510775') format('woff'),
		url('../fonts/iconfont.ttf?1655990510775') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']::before,
[class*=' icon-']::before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-arrleft::before {
	content: '\ea01';
}

.icon-arrowRight::before {
	content: '\ea02';
}

.icon-arrowrigth::before {
	content: '\ea03';
}

.icon-deliver::before {
	content: '\ea04';
}

.icon-discovery::before {
	content: '\ea05';
}

.icon-execute::before {
	content: '\ea06';
}

.icon-facebook::before {
	content: '\ea07';
}

.icon-fire::before {
	content: '\ea08';
}

.icon-instagram::before {
	content: '\ea09';
}

.icon-laptop::before {
	content: '\ea0a';
}

.icon-linkedin::before {
	content: '\ea0b';
}

.icon-mobile::before {
	content: '\ea0c';
}

.icon-plan::before {
	content: '\ea0d';
}

.icon-twitter::before {
	content: '\ea0e';
}

.icon-world::before {
	content: '\ea0f';
}

.icon-youtube::before {
	content: '\ea10';
}

.icon-zoo::before {
	content: '\ea11';
}