@import "abstracts/variables";
@import "abstracts/mixin";

.body{
    color: $myBlack;
    font-family: $inter;
    &.scrollDisabled{
        overflow: hidden;
    }
}

.container{
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 17px;
}

.btn{
    display: inline-block;
    background-color: $myBlue;
    padding: 10px 20px;
    border-radius: $radius;
    color: $myWhite;
    font-size: 18px;
    line-height: 25px;
    font-family: $inter700;
    transition: opacity 0.4s ease;
    &:hover{
        @include desktop{
            opacity: 0.7;
        }
    }
}

.section-heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    line-height: 56px;
    font-family: $inter600;
}


.section-text{
    font-family: $inter500;
    letter-spacing: 2%;
    color: $myGrayService;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 28px;
    @include mobile{
        font-size: 28px;
        line-height: 39px;
    }
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}