@import "abstracts/variables";
@import "abstracts/mixin";

img {
    width: 100%;
    object-fit: cover;
}
.body {
    color: $myBlack;
    font-family: $inter;
    transition:  background-color .2s ease;
}

.body--scrollDisabled {
    background-color: rgba($color: $myBlack, $alpha: 0.7);
    z-index: 4000;
    overflow: hidden;
}

.container {
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 17px;
}

.btn {
    display: inline-block;
    background-color: $myBlue;
    padding: 10px 20px;
    border-radius: $radius;
    color: $myWhite;
    font-size: 18px;
    line-height: 25px;
    font-family: $inter700;
    transition: opacity 0.4s ease;
    &:hover{
        @include desktop{
            opacity: 0.7;
        }
    }
}

.section-heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    line-height: 56px;
    font-family: $inter600;
    @include mobile {
        font-size: 28px;
        line-height: 39px;
    }
}


.section-text {
    font-family: $inter500;
    color: $myGrayService;
    text-align: center;
    width: 86%;
    margin: 0 auto;
    letter-spacing: 0.02em;
    line-height: 28px;
    @include tablet {
        font-size: 16px;
        line-height: 25px;
    }
    @include mobile { 
        font-size: 14px;
        line-height: 22px;
    }
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

