@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }

@mixin mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }

@mixin topLine {
  content: "";
  display: block;
  width: 135px;
  height: 3px;
  background-color: $myBorderColor;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}
