.green {
    color: $iconGreen;
    background-color: $iconBrightGreen;
}

.blue {
    color: $iconBlue;
    background-color: $iconBrightBlue;
}

.yellow {
    color: $iconYellow;
    background-color: $iconBrightYellow;
}

.red {
    color: $iconRed;
    background-color: $iconBrightRed;
}