@import "abstracts/fonts";

$myYellowBrigth:#FFE600;
$myBlue: #6854FC;
$myBlack: #000000;
$myWhite: #FFFFFF;
$myGrayTransp: #C4C4C433;
$boxShadowColor: rgba(0, 0, 0, 0.05);
$myBlueTransp: (rgba(104, 84, 252, .1));

$radius: 20px;

$inter: "Inter";
$inter500: "Inter500";
$inter600: "Inter600";
$inter700: "Inter700";