@import "abstracts/fonts";

$myYellowBrigth:#FFE600;
$myBlue: #6854FC;
$mySeaBlue: #AEE2FF;
$myBlack: #000000;
$myWhite: #FFFFFF;
$myGrayTransp: #C4C4C433;
$myGrayService:#00000080;
$boxShadowColor: rgba(0, 0, 0, 0.05);
$myBlueTransp: (rgba(104, 84, 252, .1));
$myMainBackgroundColor: rgb(249,249,251);
$myMainRatingColor: rgba(196, 196, 196, 0.2);
$myBlack2: rgba(0, 0, 0, 1);
$mySilverTrans:rgba(0, 0, 0, 0.5);
$iconBackground: #F0EEFF;
// PROCES ICON COlORS
$iconBrightRed: #FCEDEE;
$iconBrightBlue: #BED3FF;
$iconBrightYellow: #FFEEA6;
$iconBrightGreen: #DEFEEA;
$iconGreen: #0F642F;
$iconYellow: #B89500;
$iconRed: #B85A60;
$iconBlue: #2555BB;

$radius: 20px;

$inter: "Inter";
$inter500: "Inter500";
$inter600: "Inter600";
$inter700: "Inter700";