.companies {
    padding-top: 90px;
    text-align: center;
    @include mobile {
        padding-top: 78px;
    }
    .companies__heading {
        margin-bottom: 5px;
        @include tablet{
            margin-bottom: 19px;
        }
        @include mobile{
            margin-bottom: 24px;
        }
    }   
    .companies__text {
        width: 80%;
        @include mobile {
            width: 99%;
        }
    }
}

.companies__image-wrapper {
    width: 75%;
    margin: 36px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    @include mobile {
        margin: 32px auto 0 auto;
    }
    .companies__image {
        width: 90px;
        height: 90px;
        @include mobile {
            width: 38px;
            height: 38px;
        }
    }
    .companies__first-row, 
    .companies__second-row {
        display: flex;
        gap: 63px;
        justify-content: center;
        @include tablet {
            gap: 35px;
        }
        @include mobile{
            gap: 14px;
        }
    }
}