.companies {
    padding-top: 90px;
    text-align: center;
    .companies__heading {
        margin-bottom: 5px;
        @include tablet{
            margin-bottom: 19px;
        }
        @include mobile{
            margin-bottom: 26px;
        }
    }   
    .companies__text {
        width: 70%;
        @include tablet {
            font-size: 16px;
            line-height: 25px;
        }
        @include mobile {
            width: 100%;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.companies__image-wrapper {
    width: 75%;
    margin: 36px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    .companies__image {
        width: 90px;
        height: 90px;
        @include mobile {
            width: 38px;
            height: 38px;
        }
    }
    .companies__first-row, 
    .companies__second-row {
        display: flex;
        gap: 63px;
        justify-content: center;
        @include tablet {
            gap: 35px;
        }
        @include mobile{
            gap: 12px;
        }
    }
}