.main {
    position: relative;
    padding: 53px 0 33px 0;
    overflow: hidden;
    @include mobile{
        padding: 0;
    }
    &::after {
        content: "";
        display: block;
        height: 52px;
        background-color: $mySeaBlue;
        margin-top: 132px;
        width: 100%;
        @include mobile {
            margin-top: 110px;
        }
    }
}

.main__img {
    position: absolute;
    width: 1210px;
    height: 637px;
    left: 52%;
    z-index: -1;
    transform: translateX(-50%);
}

.main__content {
    margin-top: 57px;
    font-family: $inter500;
    line-height: 28px;
    width: 57%;
    z-index: 4;
    @include mobile{
        margin-top: 27px;
        width: 100%;
    }
}

.main__rating {
    margin-bottom: 34px;
    background-color: $myMainRatingColor;
    border-radius: $radius;
    padding: 12px 10px;
    letter-spacing: 0.02em;
    display: inline-block;
    color: $myBlack2;
    @include mobile {
        margin-bottom: 26px;
        gap: 10px;
        font-size: 14px;
        line-height: 22px;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 40px;
        vertical-align: middle;
        height: 40px;
        border-radius: 50%;
        margin-right: 18px;
        background-color: $myYellowBright;
        @include mobile {
            height: 33px;
            width: 33px;
            margin-right: 14px;
        }
    }
}


.main__heading {
    font-family: $inter700;
    font-size: 60px;
    line-height: 72px;
    width: 60%;
    color: $myBlack2;
    text-transform: capitalize;
    margin-bottom: 13px;
    @include tablet {
        width: 80%;
    }
    @include mobile {
        margin-bottom: 35px;
        font-size: 40px;
        line-height: 48px;
    }
}

.main__text {
    color: $mySilverTrans;
    font-family: $inter500;
    margin-bottom: 54px;
    letter-spacing: 0.02em;
    @include mobile{
        font-size: 16px;
        line-height: 25px;
        width: 80%;
        margin-bottom: 38px;
    }
}


.main__wrapper {
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .main__btn{
        margin-right: 20px;
        @include mobile{
            margin-right: 0;
        }
    }
    .main__btn-sec{
        color: $myBlue;
        font-size: 22px;
        line-height: 35px;
        font-family: $inter600;
    }
}