.services{
    padding-top: 20px;
    @include mobile {
        padding-top: 35px;
    }
}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .services__heading {
        margin-bottom: 20px;
        @include mobile {
            margin-bottom: 25px;
        }
    }
    .services__text {
        margin-bottom: 30px;
        @include tablet{
            width: 87%;
            margin-bottom: 50px;
            text-align: center;
        }
        @include mobile{
            font-size: 14px;
            line-height: 22px;
            width: 98%;
            margin-bottom: 36px;
        }
    }
}

.services__wrapper {
    width: 70%;
    margin: 0 auto;
    display: grid;  
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    @include tablet{
        width: 100%;
        row-gap: 35px;
    }
    @include mobile{
        row-gap: 45px;
        grid-template-columns: 1fr;
    }
    .graph {
        @include mobile{
            order: 1;
        }
    }
}

.services__box {
    text-align: center;
   .services__box-icon {
    font-size: 36px;
    line-height: 36px;
    color: $myBlue;
    border-radius: 50%;
    background-color: $iconBackground;
    margin-bottom: 31px;
    padding: 32px;
    display: inline-block;
    @include mobile{
        padding: 17px;
        line-height: 21px;
        font-size: 21.6px;
        margin-bottom: 21px;
    }
   } 
   .services__box-heading {
    font-size: 22px;
    line-height: 27px;
    font-family: $inter600;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
    color: $myBlue;
    @include tablet{
        margin-bottom: 10px;
    }
    @include mobile{
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 28px;
    }
   }
   .services__box-text {
    letter-spacing: 0.02em;
    color: #00000080;
    width: 79%;
    line-height: 28px;
    margin: 0 auto;
    @include tablet{
        font-size: 16px;
        line-height: 25px;
    }
    @include mobile {
        font-size: 14px;
        line-height: 19px;
        width: 92%;
        text-align: center;
    }
   }
}  
